* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333333;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

.heading {
    text-align: center;
    padding: 1em;
    border-bottom: 5px solid white;
    background: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.currency {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

select, button {
    border: 3px solid black;
    border-radius: 5px;
    width: 150px;
    height: 50px;
}

button {
    transition: all 0.5s ease;
}

button:hover {
    transform: scale(1.1);
    background: white;
    color: black;
    border: 5px solid black;
}

form {
    margin: 20px;
}

h2 {
    font-size: 2.5em;
}
