* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333333;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

.heading {
    text-align: center;
    padding: 1em;
    border-bottom: 5px solid white;
    background: black;
}
