{% extends "layout.html" %}

{% block body %}

    <form action="{{ url_for('index') }}" method="post">

        <select name="currency">
            <option value="usd">USD</option>
            <option value="aud">AUD</option>
            <option value="cad">CAD</option>
            <option value="pln">PLN</option>
            <option value="mxn">MXN</option>
        </select>
        <button>Submit</button>

    </form>

    {% if currency %}
        <h2>{{ rate }} <span class="currency">{{ currency }}</span></h2>
    {% endif %}

{% endblock %}
